* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  overflow-x: hidden;
}

.stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  overflow: hidden;
  z-index: 0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* show full image */
  opacity: 0;
  transition: opacity 0.6s ease;
}

.image.active {
  opacity: 1;
}

.scroll-space {
  height: 400vh; /* Enough scroll space for all images */
}
